body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.home {
    background: url('home.wallpaper.jpeg');
    background-size: cover;
}

.about {
    background: url('seasons.jpg');
    background-size: cover;
}

.characters {
    background: url('characters.jpeg');
    background-size: cover;
}

.homeContent {
    background-color: white;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.aboutContent {
    background-color: white;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.charactersContent {
    background-color: white;
    padding: 20px;
    width: 80%;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}