body {
    margin: 0;
   }

.home {
    background-color: rgb(165, 232, 255);
}


.about {
    background-image: url('seasons.jpg');
    background-color: #586b3e;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutContent {
    position: relative;
    align-items: center;
    margin: 0 auto;
}


.homeContent {
    padding: 20px;
    width: 80%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
}

.charactersContent {
    display: flex;
}

table{
    position: absolute;
    width: 50%;
    bottom: 300px;
    border-collapse: collapse;
}

th, td{
    border: 1.5px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
}

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #3bd257;
  }

.topnav a {
    float:left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav:after {
    content: "";
    display: table;
    clear: both; 
}
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #077021;
    color: rgb(249, 249, 249);
  }

  .team {
    border-style: dashed;
    padding: 25px;
    margin: 25px;
    width: max-content;
    display: inline-block;
  }

  #s1 {
    font-family: 'Courier New', Courier, monospace;
  }
  #s2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #s3 {
    font-family: fantasy;
  }

  #s4 {
    font-family: cursive;
  }

  #s5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  tr:nth-child(even) {
    background:#dbc2e4
  }
  tr:nth-child(odd) {
    background:#c2e4d4
  }

  .column1 {
    width:30%;
    background-color: white;
    text-align: left;
    padding: 15px;
  }

  .column2 {
    padding: 15px;
  }

  #main {
    font-size: 18px;
  }

  #img {
    display: inline-block;
  }